/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --mimi-pink: #b36b8f;
    --dark-gray: #151515;
    --less-dark-gray: #202020;
    --lighter-gray: #393939;
    --icon-hover: #ffacd5;
    --button-hover: #633c4f;
  }

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /*width 100% PERCENTUALE E NON VW
    PER EVITARE SCROLLBARS ORIZZONTALI
    e min-height 100vh*/
    width: 100%;
    max-width: 100%;
    /* min-height: 100vh; */
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--dark-gray);
    color: white;
    cursor: default;
}

.pink {
    color: var(--mimi-pink);
}

.preview--button, .github--button {
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 700;
    font-size: larger;
    -webkit-clip-path: polygon(15% 0, 100% 0, 100% 67%, 85% 100%, 0 100%, 0 33%);
            clip-path: polygon(15% 0, 100% 0, 100% 67%, 85% 100%, 0 100%, 0 33%);
    width: 7rem;
    height: 3rem;
    border: none;
    color: white;
    background-color: var(--mimi-pink);
}

.preview--button:hover, .github--button:hover {
    background-color: var(--button-hover);
}

li > a {
    color: unset;
    text-decoration: none;
}

/* .home {
    min-height: 100vh;
} */

.uppercase {
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}



/*-------NAV CSS-------*/

.nav--close--btn {
    /* visibility: hidden; */
    display: none;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 30px;
    top: 9px;
    cursor: pointer;

    font-size: 1.4rem;
    color: white;

    /* border: solid 1px purple; */
  }

.nav--button {
    /* visibility: hidden; */
    display: none;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 30px;
    top: 14px;
    cursor: pointer;
}

.sandwich {
    width: 24px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
  }

.nav--container {
    background-color: var(--less-dark-gray);
    position: sticky;
    top: 0;
    z-index: 3;

    /* border: solid 2px salmon; */
}

.nav--signature--container {
    border-bottom: solid 1px var(--lighter-gray);
    /* height: 3.1875vw; */
    height: 51px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    /* border: solid 2px turquoise; */
}

.nav--signature {
    font-size: 2.5rem;
    /* font-size: 2.5vw; */
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--mimi-pink);
    margin: 0 auto;
    padding: 0 0.3rem;

    /* border: solid 2px blue; */
}

.inspired {
    /* font-size: 1.1vw; */
    font-size: 1rem;
    position: absolute;
    /* left: 4.7vw;
    padding: 0.3vw 2vw; */
    left: 4.7rem;
    padding: 6px 27px;
    text-align: center;
    border-left: solid 1px var(--lighter-gray);
    border-right: solid 1px var(--lighter-gray);

    /* border: solid 1px pink; */
}

.inspired--small {
    display: none;
}

.inspired a:hover, .inspired--small a:hover {
    color: var(--mimi-pink);
}

.inspired a {
    text-decoration: none;
    color: white;
}

.nav--ul--container > ul {
    /* height: 2.8125vw; */
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    /* border: solid 2px green; */
}

.club--menu {
    padding: 10px;
    /* font-size: 1.2vw; */
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;

    /* border: solid 2px green; */
}

::marker {
    content: none;
}

li {
    list-style-type: none;
}

.club--menu:hover {
    color: white;
    border-bottom: solid 2px var(--mimi-pink);
    cursor: pointer;
}

.body--sections--title {
    background-color: var(--mimi-pink);
    text-align: center;
    /* font-size: 2.5vw;
    padding: 1vw 0; */
    font-size: 2.5rem;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1;

    /* border: solid 2px wheat; */
}

.body--sections--title--no--bg {
    color: var(--mimi-pink);
    text-align: center;
    /* font-size: 2.5vw;
    padding: 1vw 0; */
    font-size: 2.5rem;
    padding: 0.5rem 0;

    /* border: solid 2px orange; */
}



/*-------HERO CSS-------*/
.hero--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 3.5vw;
    text-align: center;

    overflow-x: hidden;

    /* border: solid 2px cadetblue; */
}

.mia, .ravalson {
    font-size: 9vw;

    /* border: solid 2px red; */
}

.text--text {
    padding: 1rem;
    /* border: solid 2px red; */
}

.mia {
    /* letter-spacing: -2px; */
    background-color: var(--mimi-pink);
    padding: 0.3rem;
    margin-right: 1vw;
}

.ravalson {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.motto, .motto-pink {
    /* font-size: 2rem; */
    font-style: italic;
    font-weight: 700;
    font-size: 3.5vw;

    /*border: solid 1px magenta;*/
}

.welcome {
    font-size: 1.5vw;

    /* border: solid 1px blue; */
}

.icons > a:not(:last-child) {
    margin-right: 1rem;
}

.icons i {
    font-size: 3vw;
    margin-right: 0.5em;
}

.icons > a {
    color: var(--mimi-pink);
    cursor: pointer;

    /*border: solid 1px aqua;*/
}

.icons > a:hover {
    color: var(--icon-hover);
}

.icons, .motto--container, .welcome {
    margin-top: 2vw;
}

.img--creds--container {
    width: 100em;
    max-width: 22%;

    /* border: solid 1px cornflowerblue; */
}

.supermimi--img {
    width: 100%;
    height: auto;

    /* border: solid 1px yellowgreen; */
}

/* .supermimi--creds {
    text-align: center;
    font-size: 0.8vw;
    color: var(--lighter-gray);
}

.supermimi--creds a {
    text-decoration: none;
    color: var(--lighter-gray);
    text-decoration: underline;
}

.supermimi--creds a:hover {
    color: var(--mimi-pink);
} */

/*-------PROJECTS CSS-------*/
#projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    /* padding: 2vw; */
    padding: 1.7rem;

    /* border: solid 2px yellowgreen; */
}

#projects:not(:last-child) {
    border-bottom: solid 1px var(--lighter-gray) ;
}

/* #projects:last-child {
    margin-bottom: 7vw;
    margin-bottom: 7rem;
} */

.project--img--size {
    width: 35%;

    /* border: solid 1px wheat; */
}

.project--name {
    /* font-size: 2.7vw;
    margin: 0.5em 0.7em; */
    font-size: 2rem;
    margin: 0.5rem 0.7rem;

    /* border: solid 1px orange; */
}

.project--description {
    text-align: start;
    /* padding: 0 1.2em 1.2em 1.2em;
    font-size: 1.5vw; */
    padding: 0 1rem 1rem 1rem;
    font-size: 1.2rem;

    /* border: solid 1px aqua; */
}

.preview--button, .github--button {
    /* width: 9vw;
    height: 4vw;
    font-size: 1.7vw;
    margin: 0.7em; */

    font-size: 1.1rem;
    margin: 0.7rem;
}



/*-------ABOUT-------*/
.img--and--about--container {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;

    /* border: solid 2px forestgreen; */
}

.mimi--img {
    border: dotted 7px var(--mimi-pink);
    width: 300px;
    max-width: 70%;
}

.mimi--p {
    text-align: start;
    /* font-size: 1.5vw; */
    font-size: 1.2rem;
    word-spacing: 5px;
    padding: 1rem;
    width: 50%;

    /* border: solid 1px teal; */
}



/*-------RESUME CSS-------*/
#resume--container, #contact--container {
    margin-top: 7rem;

    /* border: solid 1px palegreen; */
} /*RESUME E CONTACT INCLUSI*/


.section--and--p--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* padding: 2vw 0 0 0; */
    padding: 2rem 0 0 0;

    /* border: solid 2px red; */
}

.section--and--p--container:last-child {
    padding-bottom: unset;

    /* border: solid 2px cadetblue; */
}

  .section--and--p--container * {
    margin-left: auto;
    margin-right: auto;

    /* border: solid 1px red; */
  }

  .resume--section--container {
    position: relative;
    width: 250px;
    height: 55px;
    /* width: 15.625vw;
    height: 3.4375vw; */
    background-color: var(--mimi-pink);
    font-family: 'Fjalla One', sans-serif;
    font-weight: 700;
    /* font-size: larger; */
    -webkit-clip-path: polygon(7% 0, 100% 0, 100% 67%, 93% 100%, 0 100%, 0 33%);
            clip-path: polygon(7% 0, 100% 0, 100% 67%, 93% 100%, 0 100%, 0 33%);

    /*border: solid 1px peru;*/
}

.resume--section--container .resume--section {
    position: absolute;
    top: 1px; /* equal to border thickness */
    left: 1px; /* equal to border thickness */
    width: 248px; /* container height - (border thickness * 2) */
    height: 53px; /* container height - (border thickness * 2) */
    /* width: 15.5vw;
    height: 3.3125vw; */
    background-color: var(--dark-gray);
    -webkit-clip-path: polygon(7% 0, 100% 0, 100% 67%, 93% 100%, 0 100%, 0 33%);
            clip-path: polygon(7% 0, 100% 0, 100% 67%, 93% 100%, 0 100%, 0 33%);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .resume--section {
    /* font-size: 1.7vw; */
    font-size: 1.7rem;
}

  .p--container {
    /* padding: 1vw; */
    padding: 1rem;

    /* border: solid 1px gainsboro; */
  }

  .p--second--container {
    /* margin-top: 1.7vw; */
    margin-top: 1.7rem;

    /* border: solid 1px gainsboro; */
  }

  .p--container p {
    line-height: 1.5em;
    word-spacing: 5px;
    /* font-size: 1.5vw; */
    text-align: center;
    
    /* border: solid 1px yellowgreen; */
}

.resume--date {
    font-size: 1.5rem;
  }

  .resume--p {
    font-size: 1rem;
  }



/*-------CONTACT-------*/
.contact--elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* padding: 2vw 0; */
    padding: 2rem 0;

    /* border: solid 1px brown; */
}

.contact--text * {
    text-align: center;
    line-height: 2em;
}

.contact--reach {
    /* font-size: 1.5vw; */
    font-size: 1.5rem;
}

.contact--mail {
    /* font-size: 2vw; */
    font-size: 2rem;

    /* border: solid 1px aquamarine; */
}

.mimi42--img {
    width: 17%;
}



/*-------FOOTER-------*/
footer {
    border-top: solid 1px var(--lighter-gray);
    /* padding: 0.75vw; */
    padding: 0.75rem;
  }

footer > p {
    /* font-size: 0.8vw; */
    font-size: smaller;
    text-align: center;
    color: var(--mimi-pink);
}



/*-------MQUERIES-------*/

/*Phones*/
@media screen and (max-width: 650px) {

}

/*Table / big phones*/
@media screen and (max-width: 992px) {

}

/*breakpoint marvel*/
@media screen and (max-width: 840px) {
    /*******HERO*******/
    .hero--container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 2em;

        /* border: solid 1px aqua; */
    }

    .text--text {
        padding: 2rem;
        /* border: solid 2px red; */
    }

    .mia, .ravalson {
        font-size: 14vw;
        /* border: solid 1px blue; */
    }

    .motto {
        font-size: 2rem;
    }

    .motto--container {
        margin-top: 1rem;
    }

    .welcome {
        font-size: 1rem;
    }

    .img--creds--container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-width: 190px;
        padding: 0.5rem;

        /* border: solid 1px firebrick; */
    }

    .supermimi--creds {
        font-size: 0.5em;
    }

    /* .supermimi--img {

        border: solid 2px aquamarine;
    } */

    .icons  i {
        font-size: 1.5rem;
    }

    /*******NAV*******/
    .nav--signature--container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .nav--close--btn {
        visibility: visible;
        display: block;
    }

    .nav--button {
        visibility: visible;
        display: block;
    }

    .nav--ul--container > ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 300px;
        position: absolute;
        background-color: var(--less-dark-gray);
        width: 100%;
        border-bottom: solid 1px var(--lighter-gray);

        /* transform: translateX(-100%);
        -webkit-transform: translateX(-100%); */
    }

    .club--menu {
        margin: auto;
        /* margin-left: 30px; */
        padding: unset;
        font-size: 1.3rem;
    }

    .inspired {
        display: none;
    }

    .inspired--small {
        display: unset;
        text-align: center;
        border-top: solid 1px var(--lighter-gray);
        padding: 14px;
    }

    .inspired--small a {
        text-decoration: none;
        color: white;
    }

    /*******PROJECTS*******/
    #projects {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .project--img--size {
        width: 77%;
    }

    .project--name {
        font-size: 1.4rem;
        margin: 1rem 0 0.5rem 0;
    }

    /*******ABOUT*******/
    .img--and--about--container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .mimi--p {
        margin: 0 1.5rem;
        width: 100%;
    }

    /*******RESUME*******/

    /*******CONTACT*******/
    .contact--elements {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        /* border: solid 1px brown; */
    }

    .mimi42--img {
        width: 42%;
        margin-top: 1rem;
    }

    .contact--reach {
        /* font-size: 1.5vw; */
        font-size: 1rem;
    }
    
    .contact--mail {
        /* font-size: 2vw; */
        font-size: 1.7rem;
    
        /* border: solid 1px aquamarine; */
    }

}

/*Computer / big pc*/
@media screen and (min-width: 1367px) {
    /*******HERO*******/
    .mia {
        padding: 0.3vw;
        margin-right: 1vw;
    }

    /*******NAV*******/
.nav--signature--container {
    height: 3.1875vw;
    /* height: 51px; */

    /* border: solid 2px turquoise; */
}

.nav--signature {
    /* font-size: 2.5rem; */
    font-size: 2.5vw;

    /* border: solid 2px blue; */
}

.inspired {
    font-size: 1.1vw;
    /* font-size: 1rem; */
    left: 4.7vw;
    padding: 0.3vw 2vw;
    /* left: 4.7rem;
    padding: 6px 27px; */

    /* border: solid 1px pink; */
}

.nav--ul--container > ul {
    height: 2.8125vw;
    /* height: 45px; */

    /* border: solid 2px green; */
}

.club--menu {
    padding: 10px;
    font-size: 1.2vw;
    /* font-size: 1rem; */

    /* border: solid 2px green; */
}

.body--sections--title {
    font-size: 2.5vw;
    padding: 1vw 0;
    /* font-size: 2.5rem;
    padding: 1rem 0; */

    /* border: solid 2px wheat; */
}

.body--sections--title--no--bg {
    font-size: 2.5vw;
    padding: 1vw 0;
    /* font-size: 2.5rem;
    padding: 0.5rem 0; */

    /* border: solid 2px orange; */
}

.club--menu:hover {
    border-bottom: solid 0.1em var(--mimi-pink);
}

    /*******PROJECTS*******/
    #projects {
        padding: 2vw;

        /* border: solid 2px yellowgreen; */
    }

    .project--name {
        font-size: 2.7vw;
        margin: 0.5em 0.7em;
        /* font-size: 2rem;
        margin: 0.5rem 0.7rem; */

        /* border: solid 1px orange; */
    }

    .project--description {
        padding: 0 1.2em 1.2em 1.2em;
        font-size: 1.5vw;
        /* padding: 0 1rem 1rem 1rem;
        font-size: 1.2rem;
     */
        /* border: solid 1px aqua; */
    }

    .preview--button, .github--button {
        width: 9vw;
        height: 4vw;
        font-size: 1.7vw;
        margin: 0.7em;

        /* font-size: 1.1rem;
        margin: 0.7rem; */
    }

    /*******ABOUT*******/
    .img--and--about--container {
        padding: 2vw;

        /* border: solid 2px forestgreen; */
    }

    .mimi--p {
        font-size: 1.5vw;

        /* border: solid 1px teal; */
    }

    .mimi--img {
        border: dotted 0.7vw var(--mimi-pink);
        /* width: 300px; */
        width: 20%;
    }

    /*******RESUME*******/
    .section--and--p--container {
        padding: 2vw 0 0 0;
        /* padding: 2rem 0 0 0; */

        /* border: solid 2px red; */
    }

      .resume--section--container {
        /* width: 250px;
        height: 55px; */
        width: 15.625vw;
        height: 3.4375vw;

        /*border: solid 1px peru;*/
    }

    .resume--section--container .resume--section {
        /* width: 248px; /* container height - (border thickness * 2) */
        /* height: 53px; /* container height - (border thickness * 2) */
        width: 15.5vw;
        height: 3.3125vw;
      }

      .resume--section {
        font-size: 1.7vw;

        /* font-size: 1.7rem; */
    }

      .p--container {
        padding: 1vw;
        /* padding: 1rem; */

        /* border: solid 1px gainsboro; */
      }

      .p--second--container {
        margin-top: 1.7vw;
        /* margin-top: 1.7rem; */

        /* border: solid 1px gainsboro; */
      }

      .resume--date {
        font-size: 1.5vw;
      }
    
      .resume--p {
        font-size: 1vw;
      }

    /*******CONTACT*******/
    .contact--elements {
        padding: 2vw 0;
        /* padding: 2rem 0; */

        /* border: solid 1px brown; */
    }

    .contact--reach {
        font-size: 1.5vw;
        /* font-size: 1.5rem; */
    }

    .contact--mail {
        font-size: 2.5vw;
        /* font-size: 2.5rem; */

        /* border: solid 1px aquamarine; */
    }
    

    /*******FOOTER*******/
    footer {
        padding: 0.75vw;
        /* padding: 0.75rem; */
      }

    footer > p {
        font-size: 0.8vw;
        /* font-size: smaller; */
    }

}

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}



/*-------MOTTO TEXT ANIMASCIOH-------*/
.motto--container {
    -webkit-transform: scale(0.94);
        -ms-transform: scale(0.94);
            transform: scale(0.94);
    -webkit-animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
            animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.motto {
    opacity: 0;
    -webkit-filter: blur(4px);
            filter: blur(4px);
}

@-webkit-keyframes scale {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.motto:nth-child(1) {
    -webkit-animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
            animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.motto:nth-child(2) {
    -webkit-animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
            animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.motto:nth-child(3) {
    -webkit-animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
            animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.motto:nth-child(4) {
    -webkit-animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
            animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@-webkit-keyframes fade-in {
    100% {
        opacity: 1;
        -webkit-filter: blur(0);
                filter: blur(0);
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
        -webkit-filter: blur(0);
                filter: blur(0);
    }
}
